In [1]:
# Dependencies
import os
import csv
import pandas as pd

In [2]:
# Files to Load
schools_complete = "Resources/schools_complete.csv"
students_complete = "Resources/students_complete.csv"

In [3]:
# Read csv files and create a dataframe for each
school_data_df = pd.read_csv(schools_complete)
student_data_df = pd.read_csv(students_complete)

In [4]:
# Merge the dataframes created above on school name
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
## District Totals

# number of schools
total_schools = len(school_data_complete_df["school_name"].unique())
print(total_schools)

# number of students
total_students = school_data_complete_df["student_name"].count()
print(total_students)

# total budget
total_budget = school_data_df["budget"].sum()
print(total_budget)

15
39170
24649428

In [6]:
## District Average Scores

# math score
average_math = school_data_complete_df["math_score"].mean()
print(average_math)

# reading score
average_reading = school_data_complete_df["reading_score"].mean()
print(average_reading)

78.98537145774827
81.87784018381414

In [8]:
## District Passing Percentages (70 or greater)

# reading
passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_pct = passing_reading / float(total_students) * 100
print (passing_reading_pct)

# math
passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_pct = passing_math / float(total_students) * 100
print (passing_math_pct)

# overall (both math and reading)
passing_overall = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_overall_pct = passing_overall / float(total_students) * 100
print(passing_overall_pct)

85.80546336482001
74.9808526933878
65.17232575950983

In [9]:
# Display the above results in a new dataframe
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], 
                                    "Total Students": [total_students], 
                                    "Total Budget": [total_budget], 
                                    "Average Reading Score":[average_reading], 
                                    "Average Math Score":[average_math], 
                                    "% Passing Reading":[passing_reading_pct],
                                    "% Passing Math":[passing_math_pct],
                                    "% Passing Overall":[passing_overall_pct]})

# add a little formatting to make the data more readable
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Overall
0,15,"39,170","$24,649,428.00",81.87784,78.985371,85.805463,74.980853,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
# Display the school type for each school
school_types = school_data_df.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [11]:
# Count the number of students at each school
students_per_school = school_data_complete_df["school_name"].value_counts()
print(students_per_school)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [12]:
# Calculate the overall and per student budgets for each school
budget_per_school = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
budget_per_student = budget_per_school / students_per_school

print(budget_per_school)
print(budget_per_student)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [13]:
# Calculate the average math and reading scores for each school
avgMath_per_school = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
avgRead_per_school = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

print(avgMath_per_school)
print(avgRead_per_school)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
# Create dataframes of students passing math, reading, and both by school
passing_math_per_school = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
passing_reading_per_school = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
passing_overall_per_school = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

print(passing_math_per_school)
print(passing_reading_per_school)
print(passing_overall_per_school)

Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]
       Student ID     student_name gender grade         school_name  \
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[33610 rows x 11 columns]
       Student ID     student_name gender grade         school_name  \
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
9               9   Matthew Greene      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[25528 rows x 11 columns]

In [19]:
#  Calculate the percentage passing math, reading, and overall by school
pct_math_per_school = passing_math_per_school.groupby(["school_name"]).count()["student_name"] / students_per_school * 100
pct_reading_per_school = passing_reading_per_school.groupby(["school_name"]).count()["student_name"] / students_per_school * 100
pct_overall_per_school = passing_overall_per_school.groupby(["school_name"]).count()["student_name"] / students_per_school * 100

print(pct_math_per_school)
print(pct_reading_per_school)
print(pct_overall_per_school)

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [21]:
# Display the school summary data calculated above in a new dataframe
summary_by_school = pd.DataFrame({"School Type": school_types,
                                   "Total Students": students_per_school,
                                   "Total School Budget": budget_per_school,
                                   "Per Student Budget": budget_per_student,
                                   "Average Math Score": avgMath_per_school,
                                   "Average Reading Score": avgRead_per_school,
                                   "% Passing Math": pct_math_per_school,
                                   "% Passing Reading": pct_reading_per_school,
                                   "% Passing Overall": pct_overall_per_school})

# add a little formatting to make the data more readable
summary_by_school["Total School Budget"] = summary_by_school["Total School Budget"].map("${:,.2f}".format)
summary_by_school["Per Student Budget"] = summary_by_school["Per Student Budget"].map("${:,.2f}".format)

summary_by_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [22]:
# Sort the summary by school dataframe and show only the top five performing schools (by overall passing %)
top_schools = summary_by_school.sort_values(["% Passing Overall"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [24]:
# Sort the summary by school dataframe and show only the bottom five performing schools (by overall passing %)
bottom_schools = summary_by_school.sort_values(["% Passing Overall"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [26]:
# Create a data series of scores by grade level
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [27]:
# Group each grade series created above by school
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [28]:
# Make a new dataframe to display all the grade level series created above
scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})

scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
# Group each grade series created above by school
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [30]:
# Make a new dataframe to display all the grade level series created above
scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})

scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [31]:
# create bins for spending levels
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [33]:
# Copy the summary by school dataframe (it has the budget per student) 
school_spending_df = summary_by_school

In [34]:
# Categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(budget_per_student, spending_bins, labels=group_names)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$584
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-644
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$584

In [35]:
#  Group by spending ranges per student and calculate the average math and reading within those ranges 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Overall"]

In [36]:
# Display the data calculated above in a new dataframe
spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores.round(2),
                                 "Average Reading Score": spending_reading_scores.round(2),
                                 "% Passing Math": spending_passing_math.round(2),
                                 "% Passing Reading": spending_passing_reading.round(2),
                                 "% Passing Overall": overall_passing_spending.round(2)})

spending_summary = spending_summary[["Average Math Score", 
                                     "Average Reading Score", 
                                     "% Passing Math", "% Passing Reading",
                                     "% Passing Overall"]]

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

In [37]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [41]:
# Categorize spending based on the bins.
summary_by_school["School Size"] = pd.cut(summary_by_school["Total Students"], size_bins, labels=group_names)
summary_by_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$584,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-644,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$584,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$584,Medium (1000-2000)

In [42]:
# Group by school size and calculate the average math and reading within the school size groups 
size_math_scores = summary_by_school.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = summary_by_school.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = summary_by_school.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = summary_by_school.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = summary_by_school.groupby(["School Size"]).mean()["% Passing Overall"]

In [43]:
# Display the data calculated above in a new dataframe
size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Passing Overall": size_overall_passing})

size_summary = size_summary[["Average Math Score", 
                             "Average Reading Score", 
                             "% Passing Math", 
                             "% Passing Reading",
                             "% Passing Overall"]]

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [44]:
# Group by school type and calculate the average math and reading scores as well as the percentage passing within the school type groups 

type_math_scores = summary_by_school.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = summary_by_school.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = summary_by_school.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = summary_by_school.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = summary_by_school.groupby(["School Type"]).mean()["% Passing Overall"]

In [45]:
# Display the data calculated above in a new dataframe
type_summary = pd.DataFrame({"Average Math Score" : type_math_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading,
                             "% Passing Overall": type_overall_passing})

type_summary = type_summary[["Average Math Score", 
                             "Average Reading Score",
                             "% Passing Math",
                             "% Passing Reading",
                             "% Passing Overall"]]

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208